# set the udev rule , make the MotorDriver's device_port be fixed by MW
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="MW"

# set the udev rule , make the AHRS's device_port be fixed by AHRS

KERNEL=="ttyUSB*" ,ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60",ATTRS{serial}=="1234", MODE:="0777", SYMLINK+="AHRS"